/* Mobile-first styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form elements horizontally */
    gap: 10px 0;
    padding: 20px;
    width: 100%; /* Ensure the form takes the full width of its container */
    max-width: 300px; /* Limit the maximum width of the form */
    margin: 0 auto; /* Center the form horizontally */
}

input[type="email"], input[type="password"] {
    padding: 10px;
    width: 100%;
    max-width: 300px;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

/* Add media queries for larger screens */
@media (min-width: 768px) {
    /* Example: Adjust form layout for larger screens */
    form {
        max-width: 400px;
        margin: 0 auto;
    }
}

.form-button {
    display: block;
    width: 100%;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center; /* Centers the buttons within the container */
    width: 100%; /* Ensures the group takes the full width of the form */
    margin-top: 10px; /* Adds some space above the button group */
    gap: 10px; /* Adds some space between the buttons */
}

.form-button, .form-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #007BFF;
    border: 2px solid #007BFF;
    text-decoration: none;
    cursor: pointer;
}

.form-button:last-child, .form-button a:last-child {
    margin-right: 0; /* Removes the right margin from the last button */
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.notes-index {
    flex: 1;
    max-width: 300px; /* Adjust based on your design */
    order: 1; /* Default order for larger screens */
}

.write-note {
    flex: 3;
    order: 1; /* Default order for larger screens */
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }
    .notes-index {
        order: 2; /* Change order for smaller screens */
    }
    .write-note {
        order: 1; /* Change order for smaller screens */
    }
}
